<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>-->

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVXVSMqJhPnoVvMU5GgEWPttc6KlQ9SDI&sensor=false">
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Vik.css" type="text/css" />
    <style>
        #map {
        height: 500px;
        width:device-width;
        }
        .infoWindowContent {
        font-size:  14px !important;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        }
        h2 {
        margin-bottom:0;
        margin-top: 0;
        }

    </style>
</head>

<body ng-app="trackme" ng-controller="trackmeController">

<nav class="navbar navbar-default">
    <div id="trackmenav" class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><h2>TrackMe</h2></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><button type="button" class="btn btn-link" ng-click="gotoLogin()" ng-show="btnLogin"> Login <span class="sr-only">(current)</span></button></li>
                <li><button type="button" class="btn btn-link" ng-click="gotoSignup()" ng-show="btnSignup"> Sign Up </button></li>
                <li><button type="button" class="btn btn-link" ng-click="logout()" ng-show="btnLogout"> Log Out </button></li>
                <li><button type="button" class="btn btn-link" ng-click="gotoLocation()" ng-show="btnLocUpdates"> Location Updates </button></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <h2> {{tabTitle}}</h2>

    <div ng-show="shValErr" class="alert alert-danger" role="alert">
        {{ValErr}}
    </div>

    <div ng-show="loginShow">

        <form novalidate class="simple-form">
            <div class="form-group" width="50%">
                <label for="loginID">Login ID</label>
                <input type="text" class="form-control" id="loginID" placeholder="Enter Login ID" ng-model="loginID">
            </div>
            <div class="form-group" width="50%">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="uPwd">
            </div>

            <button type="button" class="btn btn-primary btn-lg" ng-click="authLogon()">Submit</button>
        </form>
        <br>
        <!--You Entered: {{loginID + " " + uPwd}}-->
        <br />
        <!--Values: {{names}}-->
        <br />
    </div>


    <div ng-show="signupShow">

        <!--<h2> Sign Up !</h2>-->
        <form novalidate class="simple-form">
            <div class="form-group" width="50%">
                <label for="inpLoginID">Login ID :</label>

                <input type="text" class="form-control" id="inpLoginID" placeholder="Enter Login ID" ng-model="inpLoginID">
            </div>
            <div class="form-group" width="50%">
                <label for="inpPwd">Password :</label>
                <input type="password" class="form-control" id="inpPwd" placeholder="Password" ng-model="inpPwd">
            </div>
            <div class="form-group" width="50%">
                <label for="pwdre">Reenter Password :</label>
                <input type="password" class="form-control" id="pwdre" placeholder="Password" ng-model="pwdre">
            </div>
            <div class="form-group" width="50%">
                <label for="Uname">Name :</label>
                <input type="text" class="form-control" id="Uname" placeholder="Name" ng-model="Uname">
            </div>
            <div class="form-group" width="50%">
                <label for="phnum">Phone Number :</label>
                <input type="text" class="form-control" id="phnum" placeholder="Phone Number" ng-model="phnum">
            </div>
            <div class="form-group" width="50%">
                <label for="mailID">Email ID :</label>
                <input type="email" class="form-control" id="mailID" placeholder="Email ID" ng-model="mailID">
            </div>
            <div class="form-group" width="50%">
                <button type="button" class="btn btn-primary btn-lg" ng-click="createUser()">Submit</button>
                &nbsp; &nbsp;
                <button type="button" class="btn btn-primary" ng-click="gotoLogin()"> Already Registered? Login.. </button>
            </div>
        </form>
    </div>


    <div ng-show="coordsShow">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseDiv" aria-expanded="false" aria-controls="collapseDiv">
                        Filter
                    </a>
                </h4>
            </div>
            <div id="collapseDiv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-1">
                            <label>From:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" datepicker class="form-control" placeholder="From" ng-model="stdate" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label>To:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" datepicker class="form-control" placeholder="To" ng-model="endate" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" ng-click="filterDates()">Filter by Dates</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="map"></div>

        <br/>
        Current Coordinates: {{latlong}}
    </div>
        <!-- <div class="row" ng-repeat="x in names.coords">
             <div class="col-md-3">{{ x.n }}</div>
             <div class="col-md-3">{{ x.lat }}</div>
             <div class="col-md-3">{{ x.lon }}</div>
             <div class="col-md-3">{{ x.tstamp }}</div>
         </div>-->

        <!--<div id="class" ng-repeat="marker in markers | orderBy : 'title'">
     <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
      </div>

      <button type="button" class="btn btn-primary" ng-click="gotoLogin()"> Go to Login screen </button>-->
    <div ng-show="locationShow">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingLoc">
                <h4 class="panel-title">
                    <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseDiv" aria-expanded="false" aria-controls="collapseDiv">-->
                        Location Updates
                    <!--</a>-->
                </h4>
            </div>
            <!--<div id="collapseDiv" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" class={{togClass}} ng-click="toggleLocUpdates()">Toggle Location Update</button>
                        </div>
                        <div class="col-md-3">
                            {{locUpdatesEnabled}}
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-1">
                            <label>Frequency:</label>
                        </div>
                        <div class="col-md-1">
                            <input type="text" class="form-control" placeholder="in Minutes" ng-model="xmins" /> minutes
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary" ng-click="sendloc()">Send location (One time)</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-link" ng-click="gotoCoords()">Show Map</button>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
        <br/>

        Current Coordinates: {{latlong}}
    </div>

</div>



<!--<script src="coordsController.js"></script>
<script src="loginController.js"></script>
<script src="signupController.js"></script>-->
<script src="trackmeMapController.js"></script>
</body>
</html>
